{% load cart_extras %}
<!DOCTYPE html>
<html>
<head>
    <title>Votre panier</title>
</head>
<body>
    <h1>Votre panier</h1>

    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>
                    <strong>{{ item.product.name }}</strong>
                    <br>
                    Quantité : {{ item.quantity }}
                    <br>
                    Prix total : {{ item.quantity|multiply:item.product.price }}€
                </li>
            {% endfor %}
        </ul>
        <p><strong>Prix total :</strong> {{ total_price }}€</p>

        <!-- Formulaire pour valider le panier -->
        <form action="{% url 'validate_cart' %}" method="post">
            {% csrf_token %}
            <button type="submit">Valider le panier</button>
        </form>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endif %}

    <a href="{% url 'operator_list' %}">Continuer vos achats</a>
</body>
</html>
