{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<p><strong>Opérateur :</strong> {{ product.operator.name }}</p>
<p><strong>Valeur :</strong> {{ product.value }}€</p>
<p><strong>Prix :</strong> {{ product.price }}€</p>
<p><strong>Stock disponible :</strong> {{ product.stock }}</p>

<!-- Bouton pour ajouter au panier -->
<form action="{% url 'add_to_cart' product.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Ajouter au panier</button>
</form>
<br>
<a href="{% url 'product_list' product.operator.id %}">Retour à la liste des produits</a>
{% endblock %}
